@import url('https://fonts.googleapis.com/css2?family=Fascinate&family=Lato:wght@400&display=swap');

.App{
    background: linear-gradient(to bottom, #003566 50%, #FFC300 50%);
    display:flex;
    flex-wrap: wrap;
    min-height: 965px;
}

.joke-card-container{
    float: left;

    margin-top: 25px ;
    background-color: #001D3D;
    width: 400px;
    height: 400px;
    border-radius: 15px 15px 15px 15px;
    margin-left: 150px;
    margin-right: 10px;
    margin-bottom: 10px;
    box-shadow: 2px 2px rgba(68, 68, 68, 0.62);
}

.joke-body{
    text-align: center;
    color: white;
    font-family: Fascinate;


}

.joke-body-2{
    text-align: center;
    color: cornsilk;
    margin-top: 100px;
    font-family: Lato;
}